includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - app/
        - modules/

    excludePaths:
        - modules/Groq/config.php
        - modules/ElevenLabs/config.php

    level: max
